.header {
  position: relative;
  background-color: black;
  height: 57px;
}

#oauth {
  float: right;
  margin-top: 14.25px;
  margin-right: 20px;
}

#Avatar {
  float: right;
  height: 60px;
}

#photo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
  display: inline-block
}

#displayName {
  color: #f9f9f9;
  font-size: 17px;
  vertical-align: -6px;
  margin-right: 20px;
  display: inline-block;
}
